/* @media (max-width: 768px) {
  .section-acardion {
    margin-top: 5rem !important;
  }

  .btn-1-2 {
    display: block;
    width: 310px !important;
    height: 58px !important;
    align-items: center;
  }

}  */
@media screen and (max-width: 992px) {
  .section-2 {
    flex-direction: column-reverse;
  }
  .lead {
    display: none;
  }
  .acardion-1 {
    margin-top: 2rem;
  }
  .side-picture {
    margin-left: 5rem;
    margin-right: auto;
  }
  .header-btn {
    width: 100%;
    flex-direction: column;
  }
  .get-btn {
    margin-top: 1.5rem;
  }
  .section-3-get {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
  }
  .section-3-get button {
    width: 100%;
    padding: 1rem;
  }
  .a-learn {
    display: block;
    font-size: larger;
    margin-top: 1rem;
    text-align: center;
    padding: 0;
  }
  .section-5 {
    flex-direction: column-reverse;
  }
  .header-text {
    text-align: center;
  }
  .charts-img {
    display: none;
  }
  section.charts {
    position: absolute !important;
    top: 127% !important;
    border: #fff !important;
    border-radius: 2rem !important;
  }
  .section-input {
    margin-top: 58rem !important;
  }
  nav .btn-1 {
    width: 40% !important;
  }
}
footer ul li.ul-li {
  padding: 0.7rem;
  opacity: 0.8;
  list-style: none;
}
footer .footer-border {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
footer small {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-1 {
  flex-wrap: wrap;
}
footer .footer-1-2 {
  flex-grow: 1;
  flex-basis: 250px;
}

header h1 {
  font-size: 80px;
}
header span {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-btn {
  gap: 1rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

nav .btn-1 {
  width: 62%;
}

.section-2 {
  flex-wrap: wrap;
}

.section-2-1 {
  flex-grow: 1;
  flex-basis: 300px;
}

.section-4 {
  flex-wrap: wrap;
}

.section-4-1 {
  flex-grow: 1;
  flex-basis: 300px;
}

.section-5 {
  flex-wrap: wrap;
}

.section-5-1 {
  flex-grow: 1;
  flex-basis: 300px;
}

.section-6 {
  flex-wrap: wrap;
}

.section-6-1 {
  flex-grow: 1;
  flex-basis: 300px;
}

section.section-7 .dasthead-1 {
  position: absolute;
  left: 57%;
  top: 34%;
  transform: translate(50%, 50%);
}
section.section-7 .dasthead-2 {
  position: absolute;
  left: 58%;
  top: 34%;
  transform: translate(50%, 50%);
}

.section-input {
  padding-right: 3rem;
  margin-top: 15rem;
}

.section-3-get {
  gap: 2rem;
}

section.charts {
  border: #fff;
  position: absolute;
  background-color: #fff;
  border-radius: 2rem;
  top: 84%;
  bottom: 0;
  left: 15%;
}

span.pls {
  color: green;
  font-size: large;
}

span.pls-x {
  color: red;
  font-size: large;
}

.img-changes {
  position: relative;
  width: 144px;
  height: 37px;
  right: 7.5%;
}

.btn-3 {
  border-radius: 1.5em;
  width: 144px;
  height: 37px;
}

/* .btn-1{
    border: 0;
    border-radius: 1.5em;
    width: 144px;
    height: 37px;
} */
.my-gradiant {
  background-image: url(../assets/image/Hero-backraound.png);
}

.border-1 {
  border: solid 30px;
  border-radius: 2.5rem;
  height: 350px;
  border: white;
  background-color: white;
  padding: 50px 0;
}

.more {
  text-decoration: none;
}

.border-hight {
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  height: 100%;
}

.border-b {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.form-control {
  border-color: blue;
  border-radius: 1.2rem;
  width: 60%;
}

#number {
  border-style: initial;
}

.amount {
  border-right: 1px solid blue;
  padding-right: 1rem;
  padding-left: 1.5rem;
}

.amount-1 {
  border-right: 1px solid blue;
  padding-right: 3rem;
  padding-left: 1.5rem;
}

.Group-35 {
  display: flex;
  align-items: end;
}

.image-3 {
  width: 100%;
  transform: scale(0.8);
}

.section-color {
  background-color: #fcfdfe;
}

.border-section {
  border-radius: 2.5rem;
  height: 350px;
  border: #fcfdfe;
  background-color: #fcfdfe;
  padding: 50px 0;
}

.checked::marker {
  content: url(assets/image/Icon.png);
}

.checked {
  font-weight: 400;
}

.img-cards {
  width: 100%;
  transform: scale(0.9);
}

span.section-span-tools {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hasan {
  padding-left: 1rem;
  margin-bottom: 2rem;
}

h3,
p,
ul,
a {
  font-family: poppins;
}

a.support {
  text-decoration: none;
}

.top-button {
  border: 1px solid grey;
  width: 175px;
}

.top-button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */