header {

  h1 {
    font-size: 80px;
  }
  span{
    background: var(
      --GRA-Blue2,
      linear-gradient(
        169deg,
        #3984f4 -6.01%,
        #0cd3ff 36.87%,
        #2f7cf0 78.04%,
        #0e65e8 103.77%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header-btn {
 
  gap: 1rem;
}
.navbar-toggler:focus{
    box-shadow: none;
}
nav .btn-1{
  width: 62%;
}