.section-2{
    flex-wrap: wrap;
}
.section-2-1{
    flex-grow: 1;
    flex-basis: 300px;
}



.section-4{
    flex-wrap: wrap;
}
.section-4-1{
    flex-grow: 1;
    flex-basis: 300px;
}

.section-5{
    flex-wrap: wrap;
}
.section-5-1{
    flex-grow: 1;
    flex-basis: 300px;
}

.section-6{
    flex-wrap: wrap;
}
.section-6-1{
    flex-grow: 1;
    flex-basis: 300px;
}

section.section-7{
    .dasthead-1{
        position: absolute;
        top: 391%;
        bottom: 0;
        left: 33%;
    }
    .dasthead-2{
        position: absolute;
        top: 391%;
        bottom:0;
        left: 57%;
    }
}

.section-input{
    padding-right: 3rem;
}

